html, body, #root { 
  height: 100%; margin: 0; 
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
}

table {
  justify-self: center;
  overflow: scroll;
}

.headerbutton {
  border: none;
  background-color:rgba(0, 0, 0, 0);
  padding: 0;
  font-size: 1em;
}

label {
  display: block;
  padding: 5px;
}

button {
  cursor: pointer;
}

.alert {
  font-size: 1.5em;
  color: #e74c3c;
  margin-bottom: 1em;
}

.icon {
  margin-left: 10px;
}

.icon-wpointer {
  margin-left: 10px;
  cursor: pointer;
}

.item-padding {
  padding: 1em 3em 0.5em 3em;
}

.item-margin {
  margin: 1em 3em 0.5em 3em;
}

.loader-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
}

.loader-container .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
}

.datatable {
  position: relative;
  margin: 2em;
  width: 90%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  color: #000000;
}

.datatable thead {
  background-color: #1abc9c;
  text-align: left;
}

.datatable a {
  margin-right: 5px;
}

.datatable td, .datatable th {
  border-width: 2px;
  border-color: #1abc9c;
  border-style: solid;
  padding: 5px;
  width: 1%;
  padding-right: 12px;
  white-space: nowrap;
}

.datatable td input {
  width: 100%;
}

.datatable-footer {
  text-align: right;
}

.popupform {
  position: fixed;
  left: 50%;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 60px 1fr;
  grid-template-areas:
    "navbar"
    "main-header"
    "maincontent";
}

.navbar { 
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.navbar-items {
  font-size: 2em;
  font-weight: bold;
  line-height: 100px;
  margin-left: 3rem;
}

.navbar-items:hover {
  cursor: pointer;
  color: #d35400;
  border-bottom: 3px solid #d35400;
}

.main-header {
  grid-area: main-header;
  font-size: 1.5em;
  line-height: 60px;
}

.main-content {
  grid-area: maincontent; 
}

.component {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "component-data"
    "footer";
}

.component-data {
  grid-area: component-data;
}

.footer {
  grid-area: footer;
  margin-left: 2em;
}

.button {
  font-size: 1em;
  padding: 3px;
  margin-right: 10px;
  margin-left: 10px;
}

.button-withoutmargin {
  font-size: 1em;
  padding: 3px;
}

.button:disabled {
  background-color: #ecf0f1;
}

.createitem {
  margin: 5em;
}

.bg-lturquoise {
  background-color: #1abc9c;
}

.bg-dturquoise {
  background-color: #16a085;
}

.bg-yellow {
  background-color: #f1c40f;
}

.bg-dyellow{
  background-color: #f39c12;
}

.bg-lgreen {
  background-color: #2ecc71;
}

.bg-dgreen {
  background-color: #27ae60;
}

.bg-lorange {
  background-color: #e67e22;
}

.bg-dorange {
  background-color: #d35400;
}

.bg-lblue {
  background-color: #3498db;
}

.bg-dblue {
  background-color: #2980b9;
}

.bg-lred {
  background-color: #e74c3c;
}

.bg-dred {
  background-color: #c0392b;
}

.bg-lpurple {
  background-color: #9b59b6;
}

.bg-dpurple {
  background-color: #8e44ad;
}

.bg-lgray {
  background-color: #ecf0f1;
}

.bg-mgray {
  background-color: #bdc3c7;
}

.bg-lightmidnightblue {
  background-color: #34495e;
}

.bg-midnightblue {
  background-color: #2c3e50;
}

.bg-lconcrete {
  background-color: #95a5a6;
}

.bg-dconcrete {
  background-color: #7f8c8d;
}

.tx-lturquoise {
  color: #1abc9c;
}

.tx-dturquoise {
  color: #16a085;
}

.tx-yellow {
  color: #f1c40f;
}

.tx-dyellow{
  color: #f39c12;
}

.tx-lgreen {
  color: #2ecc71;
}

.tx-dgreen {
  color: #27ae60;
}

.tx-lorange {
  color: #e67e22;
}

.tx-dorange {
  color: #d35400;
}

.tx-lblue {
  color: #3498db;
}

.tx-dblue {
  color: #2980b9;
}

.tx-lred {
  color: #e74c3c;
}

.tx-dred {
  color: #c0392b;
}

.tx-lpurple {
  color: #9b59b6;
}

.tx-dpurple {
  color: #8e44ad;
}

.tx-lgray {
  color: #ecf0f1;
}

.tx-mgray {
  color: #bdc3c7;
}

.tx-lightmidnightblue {
  color: #34495e;
}

.tx-midnightblue {
  color: #2c3e50;
}

.tx-lconcrete {
  color: #95a5a6;
}

.tx-dconcrete {
  color: #7f8c8d;
}

.loading {
  border-top: solid blue;
  animation: change-color 1s infinite;
}
@keyframes change-color {
  0% {
    border-color: transparent;
  }

  25% {
    border-top: solid rgba(142, 68, 173, 0.25);
  }

  50% {
    border-top: solid rgba(142, 68, 173, 0.5);
  }

  75% {
    border-top: solid rgba(142, 68, 173, 0.75);
  }

  100% {
    border-top: solid rgba(142, 68, 173, 1.0);
  }
}

.confirmmenu {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  transform: translate(-50%, -50%);
  border: solid 1px #bdc3c7;
  background-color: #ecf0f1;
}

.validationerror {
  margin-top: 5px;
  margin-left: 2px;
}

.confirmmenu-content {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirmmenu-content div {
  text-align: center;
}

.filtermmenu {
  z-index: 9999;
  border: solid 1px #bdc3c7;
  background-color: #ecf0f1;
}

.filtermenu-content {
  padding: 5px;
}

.filtermenu-content div{
  text-align: left;
}

.hidden {
  display: none;
}