$lconcrete: #95a5a6;
$lgray: #ecf0f1;
$mgray: #bdc3c7;
$gray: #bbbbbb;
$bgray: #acada8;
$dgray: #242424;
$dorange: #d35400;
$lgreen: #2ecc71;
$dgreen: #27ae60;
$blue: #3694d7;
$pampas: #f3f1ef;
$aqua: #7fdbff;
$black: #000000;
$dark-gray: rgba($black, 0.8);
$white: #ffffff;
$accent: #4285f4;

$timing: 0.3s;
$dropdown-length: 2em;

$submenu-height: 50px;

// Font Weights
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 500;
$bold: 700;
$ultra: 800;

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

a {
  text-decoration: none;
  color: black;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.bold {
  font-weight: bold;
}

.App {
  text-align: center;
}

table {
  justify-self: center;
  overflow: scroll;
}

[type="checkbox"] {
  display: inline-block;
  margin: 0 0.2em 0 0.2em;
  padding: 0;
}

.user-form {
  background: linear-gradient(45deg, rgba(80, 195, 250, 0.8) 0%, rgba(74, 250, 195, 0.4) 100%);
  input[type="radio"] {
    display: block;
  }
}

.form-label {
  text-transform: uppercase;
  position: relative;
  bottom: 1em;
  font-weight: $bold;
  font-size: 1.5em;
  color: $blue;
  margin-top: 1em;
  margin-bottom: 1em;
}

.userform {
  width: 30em;
  display: inline-block;
  padding: 4em;
  background-color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0 0 30px rgba($black, 0.1);
  box-sizing: border-box;
  overflow: hidden;
}

.userform-item {
  margin-top: 1em;
}

.userform-label {
  display: block;
  margin: 0 0 10px;
  color: $dgray;
  font-size: 14px;
  font-weight: $semibold;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.userform [type="text"],
[type="password"],
[type="email"] {
  width: 300px;
  border-radius: 5px;
  padding: 4px;
  background-color: $lgray;
  margin-bottom: 0.5em;
  outline: none;
  display: block;
  background: rgba($black, 0.1);
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: $dgray;
  font-family: inherit;
  font-size: inherit;
  font-weight: $semibold;
  line-height: inherit;
  transition: 0.3s ease;
}

.userform-remember {
  font-size: 12px;
  font-weight: $regular;
  letter-spacing: 0;
  text-transform: none;
}

.userform-button {
  outline: none;
  margin-top: 2em;
  background: $accent;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: $white;
  font-family: inherit;
  font-size: inherit;
  font-weight: $semibold;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

.selector label {
  display: inline-block;
  padding: 5px;
}

input#teacher:checked ~ #sel-teacher,
input#student:checked ~ #sel-student {
  background: #fc0;
  border: 1px solid #f60;
}

.headerbutton {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  font-size: 1em;
}

.block-label {
  display: block;
  padding: 5px;
}

.school-data {
  border: solid 1px black;
  background-color: $lgreen;
}

.data {
  display: inline-block;
  margin: 0.5em;
  padding: 10px;
}

.top-margined {
  margin-top: 1em;
}

.inline-label {
  display: inline;
  padding: 5px;
}

.dropdown-input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
}

#majorlist option {
  background-color: red;
}

button,
.select {
  cursor: pointer;
}

.itemdelete {
  position: relative;
  bottom: 5px;
  font-size: 11px;
  background-color: wheat;
}

.alert {
  font-size: 1.5em;
  color: #e74c3c;
  margin-bottom: 1em;
}

.icon {
  margin-left: 10px;
}

.icon-wpointer {
  margin-left: 10px;
  cursor: pointer;
}

.item-padding {
  padding: 1em 3em 0.5em 3em;
}

.item-margin {
  margin: 1em 3em 0.5em 3em;
}

.pagerspacing {
  margin-left: 10px;
  margin-right: 10px;
}

.loader-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.loader-container .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
}

.datatable {
  position: relative;
  margin: 2em;
  width: 90%;
  color: #000000;
}

.datatable .createbutton {
  @extend .base-button;
  margin: 0 0 15px 0;
}

.datatable-content {
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: $bgray;
  border-style: solid;
}

.datatable thead {
  background-color: $bgray;
  text-align: left;
}

.datatable a {
  margin-right: 5px;
}

.datatable td,
.datatable th {
  border-width: 2px;
  width: 1%;
  border-color: $bgray;
  border-style: solid;
  padding: 5px;
  padding-right: 15px;
  white-space: nowrap;
}

.datatable td .dropdown-input {
  width: 100%;
}

.datatable-footer {
  text-align: right;
}

.popupform {
  position: fixed;
  left: 50%;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px + $submenu-height 60px 1fr;
  grid-template-areas:
    "navbar-container"
    "main-header"
    "main-content";
}

.navbar-container {
  grid-area: navbar-container;
  background-color: $lgray;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.navbar-items {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  line-height: 100px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-subitems {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: $submenu-height;
  height: $submenu-height;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  border-right: solid 1px $lgray;
}

.navbar-subitems:hover {
  background-color: lighten($lconcrete, 20%);
}

.navbar-subitems-active {
  background-color: lighten($lconcrete, 20%);
}

.navbar-subitems:last-of-type {
  border: none;
}

.navbar-items:hover {
  background-color: lighten($mgray, 5%);
}

.navbar-items:hover,
.navbar-subitems:hover {
  cursor: pointer;
  color: $dorange;
}

.navbar-items-active {
  color: $dorange;
  background-color: lighten($mgray, 5%);
  border-bottom: solid 3px $dorange;
}

.navbar-sub {
  background-color: $lconcrete;
  color: white;
  display: none;
  overflow: hidden;
}

.navbar-sub.shown {
  display: block;
  animation-name: expand;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.navbar-sub.collapsed {
  display: block;
  animation-name: collapse;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes expand {
  from {
    height: 0px;
  }

  to {
    height: $submenu-height;
  }
}

@keyframes collapse {
  from {
    height: $submenu-height;
  }

  to {
    height: 0px;
  }
}

.main-header {
  grid-area: main-header;
  font-size: 1.5em;
  line-height: 60px;
}

.main-content {
  position: relative;
  grid-area: main-content;
  overflow: hidden;
}

.component {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar component-data";
}

.sidebar {
  grid-area: sidebar;
  width: 200px;
  background-color: $pampas;
  overflow: auto;
}

.sidebar-item {
  font-size: 1.3em;
  display: block;
  padding: 15px;
  border: solid 1px $lconcrete;
}

.sidebar-item:hover,
.sidebar-item-active {
  color: $lconcrete;
  background-color: $lgray;
}

.component-data {
  grid-area: component-data;
  position: relative;
  overflow: auto;
}

.base-button {
  font-size: 1em;
  padding: 3px;
}

.button {
  @extend .base-button;
  margin-right: 10px;
  margin-left: 10px;
}

.button-withoutmargin {
  font-size: 1em;
  padding: 3px;
}

.base-button:disabled,
.button:disabled {
  background-color: #ecf0f1;
}

.createitem {
  margin: 5em;
}

.dropdown-container {
  position: relative;
  margin-top: 1vh;
  min-height: $dropdown-length;
}

.datatable-label {
  position: relative;
  display: inline-block;
  margin-top: $dropdown-length / 1.1;
  margin-left: $dropdown-length;
}

.listbox-container {
  display: flex;
  justify-content: center;
}

.listbox {
  margin-right: 7em;
  margin-top: 1em;
  margin-bottom: 1em;
  min-height: 40em;
  max-height: 40em;
  min-width: 25em;
  border: solid 2px black;
  overflow: auto;
  background-color: $lgray;
}

.listbox.draggingover {
  background-color: $mgray;
}

.listbox li {
  display: inline-block;
  cursor: pointer;
}

.listbox-item {
  position: relative;
  display: block;
  font-size: 1.5em;
  padding-top: 0.1em;
  padding-left: 0.3em;
  padding-bottom: 0.1em;
  border: solid 1px black;
}

.listbox-item .details {
  display: none;
}

.listbox-item .details {
  display: block;
}

.listbox-item.dragging {
  background-color: $lgreen;
}

.listbox-item.selected {
  background-color: $mgray;
}

.listbox-item button {
  cursor: pointer;
  margin-left: 5px;
  position: absolute;
  right: 5px;
  background-color: $lgray;
}

.persondata {
  display: inline-block;
  padding: 1em;
  font-size: 0.65em;

  .form-header {
    margin-right: 5px;
  }
}

.staffpage-button {
  font-size: 1.5em;
}

.form {
  display: inline-block;
}

.form-line {
  margin-bottom: 5px;
}

.dropdown {
  margin-top: 1vh;
  min-width: 12em;
  position: absolute;
  z-index: 9999;
  display: inline-block;
  margin-left: $dropdown-length / 2;
  min-height: $dropdown-length;
  max-height: $dropdown-length;
  overflow: hidden;
  top: 0.5em;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #444;
  outline: none;
  border: 0.06em solid transparent;
  border-radius: 0.25em;
  background-color: mix($blue, #fff, 25%);

  transition: $timing all ease-in-out;

  .value-holder {
    display: block;
    height: $dropdown-length;
    line-height: $dropdown-length;
    padding-left: 1em;
    padding-right: 3em;
    cursor: pointer;
    border-bottom: 0.06em solid #d9d9d9;
  }

  .options {
    scrollbar-color: $blue white;
    scrollbar-width: thin;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 0em;
    top: $dropdown-length;
    left: 0;
    right: 0;
    transition: $timing all ease-in-out;
  }

  input:focus + label {
    background: #def;
  }
  input {
    width: 1px;
    height: 1px;
    display: inline-block;
    position: absolute;
    opacity: 0.01;
  }
  label {
    border-top: 0.06em solid #d9d9d9;
    display: block;
    height: $dropdown-length;
    line-height: $dropdown-length;
    padding-left: 1em;
    padding-right: 3em;
    cursor: pointer;
    transition: $timing color ease-in-out;
    &:nth-child(2) {
      border-top: 0.06em solid #d9d9d9;
    }
  }
  input + label:before {
    content: attr(data-text);
    display: block;
    border-top: none;
    width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0.8em;
    top: 0.9em;
    border: 0.3em solid $blue;
    border-color: $blue transparent transparent transparent;
    transition: 0.15s all ease-in-out;
  }
  &.expanded {
    border: 0.06em solid $blue;
    background: #fff;
    border-radius: 0.25em;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
    max-height: unset;
    overflow: visible;

    .options {
      max-height: 15em;
    }

    label {
      border-top: 0.06em solid #d9d9d9;
      &:hover {
        color: $blue;
      }
    }
    input:checked + label {
      color: $blue;
    }

    &::after {
      transform: rotate(-180deg);
      top: 0.55em;
    }
  }
}

.options::-webkit-scrollbar-track,
.listbox::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.options::-webkit-scrollbar,
.listbox::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.options::-webkit-scrollbar-thumb,
.listbox::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $blue;
}

.bg-pampas {
  background-color: $pampas;
}

.bg-lturquoise {
  background-color: #1abc9c;
}

.bg-dturquoise {
  background-color: #16a085;
}

.bg-yellow {
  background-color: #f1c40f;
}

.bg-dyellow {
  background-color: #f39c12;
}

.bg-lgreen {
  background-color: $lgreen;
}

.bg-dgreen {
  background-color: $dgreen;
}

.bg-lorange {
  background-color: #e67e22;
}

.bg-dorange {
  background-color: $dorange;
}

.bg-lblue {
  background-color: #3498db;
}

.bg-dblue {
  background-color: #2980b9;
}

.bg-lred {
  background-color: #e74c3c;
}

.bg-dred {
  background-color: #c0392b;
}

.bg-lpurple {
  background-color: #9b59b6;
}

.bg-dpurple {
  background-color: #8e44ad;
}

.bg-lgray {
  background-color: $lgray;
}

.bg-mgray {
  background-color: $mgray;
}

.bg-gray {
  background-color: $gray;
}

.bg-bgray {
  background-color: $bgray;
}

.bg-lightmidnightblue {
  background-color: #34495e;
}

.bg-midnightblue {
  background-color: #2c3e50;
}

.bg-lconcrete {
  background-color: $lconcrete;
}

.bg-dconcrete {
  background-color: #7f8c8d;
}

.tx-pampas {
  background-color: $pampas;
}

.tx-lturquoise {
  color: #1abc9c;
}

.tx-dturquoise {
  color: #16a085;
}

.tx-yellow {
  color: #f1c40f;
}

.tx-dyellow {
  color: #f39c12;
}

.tx-lgreen {
  color: $lgreen;
}

.tx-dgreen {
  color: $dgreen;
}

.tx-lorange {
  color: #e67e22;
}

.tx-dorange {
  color: $dorange;
}

.tx-lblue {
  color: #3498db;
}

.tx-dblue {
  color: #2980b9;
}

.tx-lred {
  color: #e74c3c;
}

.tx-dred {
  color: #c0392b;
}

.tx-lpurple {
  color: #9b59b6;
}

.tx-dpurple {
  color: #8e44ad;
}

.tx-lgray {
  color: $lgray;
}

.tx-mgray {
  color: $mgray;
}

.tx-gray {
  color: $gray;
}

.tx-bgray {
  color: $bgray;
}

.tx-lightmidnightblue {
  color: #34495e;
}

.tx-midnightblue {
  color: #2c3e50;
}

.tx-lconcrete {
  color: $lconcrete;
}

.tx-dconcrete {
  color: #7f8c8d;
}

.loading {
  outline: solid blue;
  animation: change-color 1s infinite;
}
@keyframes change-color {
  0% {
    outline: transparent;
  }

  25% {
    outline: solid rgba(142, 68, 173, 0.25);
  }

  50% {
    outline: solid rgba(142, 68, 173, 0.5);
  }

  75% {
    outline: solid rgba(142, 68, 173, 0.75);
  }

  100% {
    outline: solid rgba(142, 68, 173, 1);
  }
}

.confirmmenu {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  transform: translate(-50%, -50%);
  border: solid 1px #bdc3c7;
  background-color: #ecf0f1;
}

.validationerror {
  margin-top: 5px;
  margin-left: 2px;
}

.confirmmenu-content {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirmmenu-content div {
  text-align: center;
}

.filtermmenu {
  z-index: 9999;
  border: solid 1px #bdc3c7;
  background-color: #ecf0f1;
}

.filtermenu-content {
  padding: 5px;
}

.filtermenu-content div {
  text-align: left;
}

.hidden {
  display: none;
}

.tooltip {
  position: absolute;
  z-index: 999;
  background-color: blanchedalmond;
}
